@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.main {
    padding: 60px;
    background: #F9F7FA;
    min-height: 100vh;
}

.form_area {
    padding: 80px 0 0 0;
}
.form_input {
    font-family: Montserrat;
    align-items: center;
    padding: 20px 0px 20px 30px;
    margin: 20px 0px;
    border: 1px solid #E3E1E6;
    border-radius: 25px;
    font-size: 20px;
    height: 60px;
}

.address_style {
    font-family: Montserrat;
    align-items: center;
    padding: 20px 0px 20px 30px;
    margin: 20px 0px;
    border: 1px solid #E3E1E6;
    border-radius: 25px;
    font-size: 20px;
    height: 60px;
    margin-right: 1rem;
}

.delete_btn, .delete_btn:hover, .delete_btn {
    border: none;
    background: url("/delete_icon.svg") no-repeat scroll 0 0 transparent;
    width: 24px;
    height: 24px;
}



.add_btn, .add_btn:hover {
    border: none;
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    color: #1E1F31;
    text-decoration-line: underline;
    padding: 0;
}







.form_input_btn {
    font-family: Montserrat;
    align-items: center;
    padding: 20px 0px 20px 30px;
    margin: 20px 0px;
    border: 0px solid #E3E1E6;
    border-radius: 25px;
    font-size: 20px;
    height: 60px;
    width: 30%;
}

.orng_button {
    width: 100%;
    background-color: #FB9300;
    font-family: 'Krona One';
    font-size: 18px;
    border-radius: 40px;
    height: 55px;
    border:none;

}
.orng_button:hover {
    background: #D67600;
}

.selected_nav_item {
    font-family: 'Krona One';
    font-size: 36px;
    width: 300px;
    height: 45px;
    text-align: center;
    color: #FB9300;
    margin: 0px 20px;
}

.selected_nav_item:hover {
    text-decoration: none;
    color: #D67600;
}
.muted_nav_item {
    font-family: 'Krona One';
    color: #AAB0B3;
    font-size: 24px;
    text-align: center;
    height: 45px;
    width: 220px;
    border-bottom: 3px solid #AAB0B3;
    margin: 0px 20px;

}

.muted_nav_item:hover {
    color: #8E8F98;
    text-decoration: none;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;

}


