
.imageBackground {
  border-radius: 27px;
  width: 100%;
  min-width: 72px;
  min-height: 72px;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
}

.btnSign {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}

.remove {
  color: #FB9300;
  border: none;
  background-color: inherit;
}

.btnSign:hover { 
  background: #FEF1E4;
  border-radius: 25px;
}

.itemBlock {
  margin-top: 5px;
}