/* main div */
.header {
  height: 100px;
  font-family: 'Krona One', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header a{
  color: #1E1F31;
  font-size: 16px;
}
/* left section */
.logoDiv{
  margin: auto;
  flex-basis: 50%;
}

.logo{
  width: 188px;
  height: 64px;
  background-image: url("../../../public/logo_header.png");
}
/* right section */
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
  margin: auto;
}

.nav div{
  margin: auto;
}

.searchIcon{
  width: 30px;
  height: 30px;
  background-image: url("../../../public/search-icon.png");
}
