@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #FFFF;
  border-radius: 40px;
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.cardImgContainer {
  width: calc(40% - 10px);
  max-width: 150px;
  min-width: 80px;
  margin: 0px 5px;
}

.cardImgContainer img {
  width: 100%;
  border-radius: 50%;
}

.cardTextContainer {
  width: 60%;
  text-align: right;
}

.cardTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1E1F31;
}

.cardSecondaryText {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #8E8F98;
}

.cardPriceTitle {
  margin: 0;
  margin-top: 10px;
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #FB9300;
}