.bar {
  width: 100%;
  height: 100%;
}

.address {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.address:hover { 
  color: inherit;
  cursor: pointer;
}

.buttons {
  display: flex;
  height: 10%;
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.buttons button {
  margin-left: 15px;
  height: 40px;
}
