.title{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.subtitle{
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #FB9300;
    cursor: pointer;
}

.dishesGrid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.dishesGrid > div {
    width: 30%;
        min-width: 240px;
    margin: 0 20px 20px 0;
}

.dishesGrid > div:hover {
    background-color: #fed8b1;
}
